In [9]:
import numpy as np
import pandas as pd
vals = np.load("/Users/joe/Downloads/NP-3/EUW1-6690143941.npy")
with open("cols.txt") as f:
    cols = f.read().split("\n")

replay_3_df = pd.DataFrame(vals, columns=cols)
replay_3_df

,time,name_0,hp_0,max_hp_0,mana_0,max_mana_0,armor_0,mr_0,ad_0,ap_0,...,using_w,ezreal_e_x_delta_digit,ezreal_e_z_delta_digit,using_e,ezreal_d_x_delta_digit,ezreal_d_z_delta_digit,using_d,target_idx,target_type,using_auto
0,0.000000,26.0,0.804688,0.445312,0.234131,0.203613,0.000000,0.105103,0.635254,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.001570,26.0,0.804688,0.445312,0.234131,0.203613,0.000000,0.105103,0.635254,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.003092,26.0,0.804688,0.445312,0.234131,0.203613,0.000000,0.105103,0.635254,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.004967,26.0,0.804688,0.445312,0.234131,0.203613,0.000000,0.105103,0.635254,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.006470,26.0,0.804688,0.445312,0.234131,0.203613,0.000000,0.105103,0.635254,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,0.992188,26.0,0.873535,1.000000,0.311279,0.270752,0.315674,0.264160,0.734375,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
529,0.994141,26.0,0.874512,1.000000,0.311279,0.270752,0.315674,0.264160,0.734375,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530,0.996094,26.0,0.874512,1.000000,0.311279,0.270752,0.315674,0.264160,0.734375,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
531,0.998047,26.0,0.875488,1.000000,0.311279,0.270752,0.315674,0.264160,0.734375,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
532,1.000000,26.0,0.875488,1.000000,0.311279,0.270752,0.315674,0.264160,0.734375,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
import numpy as np
import pandas as pd
vals = np.load("/Users/joe/Downloads/NP-2/NA1-4837001541.npy")
with open("cols.txt") as f:
    cols = f.read().split("\n")

replay_df = pd.DataFrame(vals, columns=cols).iloc[:, 0:10]

In [16]:
replay_df

,time,name_0,hp_0,max_hp_0,mana_0,max_mana_0,armor_0,mr_0,ad_0,ap_0
0,0.000000,132.0,0.908691,0.744629,0.600098,0.579590,0.652832,0.256104,0.718262,0.0
1,0.001400,132.0,0.908691,0.744629,0.600098,0.579590,0.652832,0.256104,0.718262,0.0
2,0.003174,132.0,0.908691,0.744629,0.600098,0.579590,0.652832,0.256104,0.718262,0.0
3,0.004940,132.0,0.908691,0.744629,0.600098,0.579590,0.652832,0.256104,0.718262,0.0
4,0.006466,132.0,0.908691,0.744629,0.600098,0.579590,0.652832,0.256104,0.718262,0.0
...,...,...,...,...,...,...,...,...,...,...
565,0.993652,132.0,1.000000,1.000000,0.657227,0.635254,0.713867,0.325195,0.876953,0.0
566,0.995117,132.0,1.000000,1.000000,0.657227,0.635254,0.713867,0.325195,0.876953,0.0
567,0.997070,132.0,1.000000,1.000000,0.657227,0.635254,0.713867,0.325195,0.876953,0.0
568,0.998535,132.0,1.000000,1.000000,0.657227,0.635254,0.713867,0.325195,0.876953,0.0
569,1.000000,132.0,1.000000,1.000000,0.657227,0.635254,0.713867,0.325195,0.876953,0.0

In [17]:
original_replay_df = pd.read_csv("/Users/joe/Downloads/NP/BR1-2841259281.csv")
original_replay_df.iloc[:, 0:10]

,Unnamed: 0,time,name_0,hp_0,max_hp_0,mana_0,max_mana_0,armor_0,mr_0,ad_0
0,0,0.000000,153.0,0.8213,0.2874,0.2834,0.09,0.0000,0.9395,0.6113
1,1,0.001645,153.0,0.8213,0.2874,0.2834,0.09,0.0000,0.9395,0.6113
2,2,0.003017,153.0,0.8213,0.2874,0.2834,0.09,0.0000,0.9395,0.6113
3,3,0.004642,153.0,0.8213,0.2874,0.2834,0.09,0.0000,0.9395,0.6113
4,4,0.006496,153.0,0.8213,0.2874,0.2834,0.09,0.0000,0.9395,0.6113
...,...,...,...,...,...,...,...,...,...,...
564,564,0.993700,153.0,0.9890,0.7560,0.1998,0.09,0.1312,1.0000,0.4119
565,565,0.995600,153.0,0.9890,0.7560,0.1998,0.09,0.1312,1.0000,0.4119
566,566,0.997000,153.0,0.9890,0.7560,0.2070,0.09,0.1312,1.0000,0.4119
567,567,0.998500,153.0,0.9890,0.7560,0.2070,0.09,0.1312,1.0000,0.4119
568,568,1.000000,153.0,0.9890,0.7560,0.2141,0.09,0.1312,1.0000,0.4119